@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: inset(0.6px)
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
}

@keyframes wave {
  0%, 100% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(14deg);
  }
}

.animate-wave {
  display: inline-block;
  transform-origin: 80% 80%;
  animation-name: wave;
  animation-duration: .50s;
  animation-iteration-count: 3;
  animation-timing-function: ease-in-out;
}